h1 {
    color: white;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h1.number {
    color: rgba(255, 0, 0, 0.842);
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

hr {
    width: 50%;
    height: 11px;
    background: black;
}

hr.bar {
    width: 70%;
    height: 11px;
    background: black;
}

p {
    width: 50%;
    margin: auto;
    color: rgba(255, 255, 255, 0.89);
}

img {
    width: 300px;
    height: 228px;
}

video {
    margin: auto;
    width: 600px;
    display: block;
    border-radius: 11px;
}

div.BoxImage {
    width: fit-content;
    margin: auto;
}

body {
    background: linear-gradient(black, black, rgb(88, 24, 24), rgba(255, 166, 0, 0.842), rgba(180, 14, 14, 0.801), rgba(180, 14, 14, 0.801));
}
